FantasyConnect/Assets/SoStylized/**/*.tga filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.exr filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.png filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.psd filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.tif filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.fbx filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.tga filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.exr filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.png filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.psd filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.tif filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.fbx filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/Spring[[:space:]]Isles/Demo/*.unity filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/Demo/*.unity filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.TGA filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.EXR filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.PNG filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.PSD filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.TIF filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/SoStylized/**/*.FBX filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.TGA filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.EXR filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.PNG filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.PSD filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.TIF filter=lfs diff=lfs merge=lfs -text
FantasyConnect/Assets/ToonScapes/**/*.FBX filter=lfs diff=lfs merge=lfs -text
